<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: head}">
    <meta charset="UTF-8">
    <title>Reservation page</title>
</head>
<body style="background:#e9e9e9;">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container w-25">
        <form class="form-signin" method="post" th:action="@{'/user/change-password/' + ${changePasswordRequest}}" th:object="${changePasswordRequest}">
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            </div>
            <button type="submit" class="btn btn-primary" name="change-password">Change Password</button>
            <a href="/" class="btn btn-link">Navigate to Main</a>
        </form>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
<script>
    var password = document.getElementById("password")
var confirm_password = document.getElementById("confirmPassword");

function validatePassword(){
if(password.value != confirm_password.value) {
confirm_password.setCustomValidity("Passwords Don't Match");
} else {
confirm_password.setCustomValidity('');
}
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;



var email = document.getElementById("email")
var confirm_email = document.getElementById("confirmEmail");

function validateEmail(){
if(email.value != confirm_email.value) {
confirm_email.setCustomValidity("Emails Don't Match");
} else {
confirm_email.setCustomValidity('');
}
}

email.onchange = validateEmail;
confirm_email.onkeyup = validateEmail;
</script>
</body>
</html>