<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: head}">
    <meta charset="UTF-8">
    <title>Reservation page</title>
</head>
<body style="background:#e9e9e9;">
    <div th:replace="~{fragments/header :: header}"></div>
    <div style="margin-top:10%;" class="login-form d-flex flex-column align-items-center">
        <h2>User Login</h2>
        <form method="post" action="/user/login" th:object="${loginRequest}">
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="mt-3">
            <p>If you don't have an account, <a href="/user/register">register</a>.</p>
            <p>If you are a company, <a href="/company/login">login for company</a>.</p>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>