<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: head}">
    <meta charset="UTF-8">
    <title>Company page</title>
</head>
<body style="background:#e9e9e9;">
<div th:replace="~{fragments/header :: header}"></div>
<div class="container d-flex justify-content-center text-center mt-4">
    <div>
        <h1 th:text="@{${profile.name}}"></h1>
        <p th:text="@{'Location: ' + ${profile.location}}"></p>
        <p th:text="@{'Email: ' + ${profile.email}}"></p>

        <a th:href="@{'/company/edit/' + ${profile.id}}" class="btn btn-primary">Edit Company Info</a>
        <a th:href="@{'/company/change-password/' + ${profile.id}}" class="btn btn-secondary">Change Password</a>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>