<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: head}">
    <meta charset="UTF-8">
    <title>Reservation page</title>
</head>
<body style="background:#e9e9e9;">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">404 - Not Found</h1>
            <p class="lead">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
            <hr class="my-4">
            <p>Please check the URL for proper spelling and capitalization. If you're having trouble finding a specific page, try searching our website.</p>
            <a class="btn btn-primary btn-lg" href="/" role="button">Go to Homepage</a>
        </div>
    </div>
</body>
</html>