<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: head}">
    <meta charset="UTF-8">
    <title>Reservation page</title>
</head>
<body style="background:#e9e9e9;">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container w-25">
        <form method="post" action="/boat/register" th:object="${registerBoatRequest}" enctype="multipart/form-data" class="needs-validation">
            <h2 class="mb-3">Register Boat</h2>
            <div class="mb-3">
                <label for="image" class="form-label">Choose Image:</label>
                <input type="file" id="image" name="image" class="form-control" accept="image/*" required>
                <div class="invalid-feedback">
                    Please choose an image.
                </div>
            </div>
            <div class="mb-3">
                <input type="text" name="price" class="form-control" placeholder="Price" required>
                <div class="invalid-feedback">
                    Please provide a valid price.
                </div>
            </div>
            <div class="mb-3">
                <input type="text" name="availability" class="form-control" placeholder="Availability" required>
                <div class="invalid-feedback">
                    Please provide valid availability information.
                </div>
            </div>
            <div class="mb-3">
                <input type="text" name="name" class="form-control" placeholder="Name" required>
                <div class="invalid-feedback">
                    Please provide a valid name.
                </div>
            </div>
            <div class="mb-3">
                <input type="text" name="type" class="form-control" placeholder="Type" required>
                <div class="invalid-feedback">
                    Please provide a valid type.
                </div>
            </div>
            <div class="mb-3">
                <label for="crewCapacity" class="form-label">Crew Capacity (between 1 and 5)</label>
                <input type="number" id="crewCapacity" name="crewCapacity" class="form-control" min="1" max="5">
                <div class="invalid-feedback">
                    Please enter a valid number between 1 and 5.
                </div>
            </div>
            <div class="mb-3">
                <label for="passengerCapacity" class="form-label">Passenger Capacity (between 1 and 10)</label>
                <input type="number" id="passengerCapacity" name="passengerCapacity" class="form-control" min="1" max="10">
                <div class="invalid-feedback">
                    Please enter a valid number between 1 and 10.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Choose a Company:</label>
                <select th:field="*{company_id}" class="form-select">
                    <option th:each="company : ${companies}" th:value="${company.id}" th:text="${company.name}"></option>
                </select>
                <div class="invalid-feedback">
                    Please choose a company.
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" name="sign-in" class="btn btn-primary">Register</button>
                <a href="/" class="btn btn-secondary">Navigate to Main</a>
            </div>
        </form>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>