<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
<div th:fragment="footer">
    <div style="width:100%;height:140px;">

    </div>
    <footer class="footer bg-dark text-light py-3" style="margin-top:auto;">
        <div class="container">
            <div class="row">
                <div class="col text-left">
                    <p>University of Split - University Department of Professional Studies</p>
                    <p>© 2023 - 2024</p>
                </div>
                <div class="col text-right">
                    <p>Antonio Krželj &amp; Ante Šolić</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</div>
</body>
</html>